body{
    background-color:#ffffff ;
    font-family: Georgia, serif;
    
}

.search input[type=text]{
    font-size: 75px;
}
.intro{
    display:flex;
    color: black;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

#title{
    display:flex;
    color: #800000;
    font-size: 100px;
    font-weight: bold;
    justify-content: center;

}

.about{
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.search{
    display: flex;
    justify-content: center;
}

.popular{
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.review{
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    justify-content: center;
}


#subTitle{
    display: flex;
    justify-content: center;
    font-size: 50px;
}